body {
    background-color: rgb(51, 118, 193);
    min-height: 100vh;
    font: normal 15pt arial;
    margin: 0;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    font-style: italic;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.59);
}

#imagem {
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 100%;
}